.red {
	color: red;
}

.golovok {
	text-align: center;
	font-size: 50px;
}

hr {
	border-color: red;
	width: 100px;
}

.text {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}

.txt {
	height: 500px;
	width: 800px;
	margin-left: 540px;
}

.square {
	width: 50px;
	height: 50px;
	background-color: blue;
	margin-left: 930px;
	margin-top: -300px;
	transform: rotate(45deg);
}

.strategy {
	width: 128px;
	height: 128px;
    float: left;
    margin-top: -4px;
    margin-left: 200px;
}

.undericon {
    font-size: 20px;
}

.img {
	padding-left: 20px;
}

.user {
	width: 180px;
	height: 128px;
    float: left;
    margin-left: 200px;

}

.img2 {
	padding-left: 50px;
}

.design {
	width: 128px;
	height: 128px;
	float: left;
	margin-left: 210px;
	
}

.img3 {
	padding-left: 10px;
}

.development {
	width: 128px;
	height: 128px;
	float: left;
	margin-left: 200px;
	margin-top: -4px;
}

.img4 {
	padding-left: 40px;
}

.marketing {
	width: 128px;
	height: 128px;
	float: left;
	margin-left: 200px;
	margin-top: -4px;
}

.img5 {
	padding-left: 30px;
}

.alpha {
	width: 1920px;
	height: 128px;
}



